---
    import Icon from "../Icon.astro";
    const {producto} = Astro.props;
    const precio = producto.ListaProductos.filter((lp:any)=> lp.fk_lista == 2)[0].monto
---

<tr class="group text-center phone:text-xs tablet:text-lg laptop:text-xl border-ic-blackorange border-b-2 text-ic-gray">
    <td class="group-hover:text-ic-orange tablet:px-2">{producto.codigo}</td>
    <td class="">{producto.titulo}</td>
    <td class="tablet:px-2">${precio? precio : 0}</td> 
    <td class="tablet:px-2">{producto.activo ? "Si" : "No" }</td>
    <td class="tablet:px-2">{producto.CATEGORIum.nombre}</td>
    <td class="">
        <a href=`/producto/${producto.codigo}`>
            <Icon width={30} center="mx-auto hover:bg-ic-orange rounded-sm p-0.5" src="/eye.svg"/>
        </a>
    </td>
</tr>