---
import Icon from "../Icon.astro";
const {categoria, url} = Astro.props;
---

<tr class="text-center border-2 text-ic-gray font-light">
    <td class="border-2">{categoria.id}</td>
    <td class="border-2">{categoria.name}</td>
    <td class="border-2">{categoria.createdAt}</td>
    <td class="border-2">{categoria.updatedAt}</td>
    <td> <a href={url}><Icon center="mx-auto hover:bg-ic-orange rounded-sm" width=30 src="/pen-black.svg"/></a></td>
</tr>